{% extends "Layout.html" %} {% load static %} {% block content %} {% if news %}
<section id="main-news">
  <div class="wrapper">
    <div class="box-news">
      {% for news_item in news %}
          <img src="{{ news_item.image.url }}" alt="" class="img-news" />
          <div class="box-info">
            <h1 class="title-news">{{ news_item.title }}</h1>
            <p class="text-news">{{ news_item.text }}</p>
          </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %} {% if cards %}
<section class="news" id="news">
  <div class="wrapper">
    <div class="card-news">
    {% for card_item in cards%}
      <div class="card-new">
        <div class="box-card">
          <p class="date-time">{{ card_item.datetime }}</p>
          <p class="card-text">{{ card_item.category }}</p>
        </div>
        <img src="{{ card_item.image.url }}" alt="" width="380" class="card-img" />
        <h1 class="card-title">
          {{ card_item.title }}
        </h1>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %} {% endblock %}
